* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .signin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .form-bg {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 32px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    background-color: #EDF6F9;
  }
  
  .header .title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 16px;
  }
  
  .header .subtitle {
    font-size: 14px;
    margin: 8px 0 32px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .form-item .input {
    width: 100%;
    padding: 12px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    font-size: 16px;
    background: rgba( 255, 255, 255, 0.18 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .form-item input::placeholder {
    opacity: 0.8;
  }
  
  .input:focus {
    outline: none;
    border-color:rgba( 255, 255, 255, 0.5 );
  }
  
  .text-left {
    text-align: left;
    font-size: 14px;
    margin-top: 8px;
  }
  
  .link {
    color: #00a8e8;
    text-decoration: underline;
  }
  
  .button {
    width: 100%;
    padding: 12px;
    background: #006D77;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  }
  
  .button:hover {
    background: #006d77c5;
  }

  a{
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }